.navbar {
	background: #098be2 ;
	height:80px;
	top:0;
	border-radius: 2px;


}

.n-left {
	width: 5%;
	margin-left: 1px;
	float: left;
}
.n-left img{
	width: 80%;
	height: 70px;
	margin-top:0px;
}

.n-right {
	font-size: 50px;
	line-height: 50px;
	float: left;
	padding-top: 10px;
}



.cont {
	position: static;
	height: 600px;
	width: 100%;
	float: left;
}
	
	.T-r {
		width:50%;
		height: 200px;
		float: right;
		/*background: #edefef;*/
		border:3px solid #edefef;
		border-radius: 5px;
	}


			.titile-l {
				text-align: center;
				width:30%;
				height: 50%;
				float: left;
				font-size:50px;
				word-wrap: break-word;
				line-height: 40px;
				color: gray;
				padding-top: 2%;


			}

			.titile-l i {
				font-size: 200%;
				width: 100%;
				text-align: center;
				float: left;
				clear:both;

			}

			.detail-r {
				border-left: 1px solid #b8baba;
				background: lightgray;
				width: 70%;
				height:200px;
				float: left;
				text-align: center;

			}

			.detail-r h1{
				padding-top: 15%;
				padding-left: 2%;
				width: 95%;
				/*border: red solid 1px;*/
				height: 50%;
				font-weight: bold; 
				font-size: 80px;
			}


			.t-l {
				/*background: #c7d8d8;*/
				height: 200px;
				width:25%;
				float: left;
				/*border: 1px solid blue;*/
				

			}

/*.hl-2 {
	width: 50%;
	background: yellow;
	height: 200px;
	float: left;
}

*/
.tx_date {
	float: left;
}

.rowtext {
	/*border:red solid 1px;*/
	width: 100%;
	height: 18%;
	float: left;
	clear:both;
	padding-top: 2px;
}

.rowtext-3{
	/*border:yellow solid 1px;*/
	width: 100%;
	height: 30%;
	float: left;
	clear:both;
	padding-top: 2px;
}


.lb {
	float: left;
	clear: both;
	width: 30%;
	margin-top: 20px;

}
.tx {
	/*height: 25%;*/
	width: 70%;
	float: left;
	height: 100%;
	/*border: 1px solid yellow;*/
}
		.tx textarea {
			height: 50px;
		}

		.tx input {
			margin-top: 10px;
			height: 51px;
			width: 70%;
			float: left;
			border-radius: 0px;
		}

		.tx select{
			margin-top: 10px;
			height: 70%;
			width: 70%;
		}

		.tx h3{
			float: left;
		}
		.tx i {
		    float:left; 
		    /*margin: 1% 3% ; */
		    border:1px solid gray; 
		    padding:4%;
		    border-radius: 0px 5px 5px 0px;
		    border-left: 0px; 
		    cursor:pointer;
		    -webkit-touch-callout: none;
		       -webkit-user-select: none;
		       -khtml-user-select: none;
		       -moz-user-select: none;
		       -ms-user-select: none;
		       -webkit-user-drag: none;
		       user-drag: none;
		   }
		.tx button {
			margin-top: 10px;
			height: 50px;
			width: 40px;
		}   
		    .ip i:active {
		     background: #b8bfc4;
		    }

.op_taxtype {
	float: left;
}





table.tableSection {
display: table;
width: 100%;
}

table.tableSection thead,
table.tableSection tbody {
    width: 100%;
}

table.tableSection thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 0px);
    background: #b8bfc4;
    height:30px; 
    /* assuming scrollbar width as 16px */
}

table.tableSection tbody {
    overflow: auto;
    height: 200px;
    display: block;
}

table.tableSection tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
}
    table.tableSection tbody tr:hover {
        background: #eaebed;
        cursor: pointer;
    }

.tableSection {
	border : 1px solid lightgray;
}
.qt-body {
	clear:both;
	width: 100%;
	height: 250px;
	float: left;
	overflow:auto;
}

.bt-body {
	padding-top: 2%;
	clear:both;
	width: 100%;
	height: 300px;
	/*border:red 1px solid;*/
}

	.bt-lu {
		width: 25%;
		height: 100%;
		/*border:green 1px solid;*/
		float: left;
		border-right: lightgray 1px solid;
	}


.addItem {
	width: 100%;
	font-size: 40px;
	position: absolute;
	background-color: #10a326;
	color: white;
	cursor: pointer;
}

.search_data {
	border-bottom:1px lightgray solid;
	width:100%;
	height:100px;
	cursor: pointer;
}